<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review List</title>
</head>
<body>
    <h1>Review List</h1>
    <a href="{{ url_for('create_review') }}">Add New Review</a>
    <ul>
        {% for review in reviews %}
            <li>
                Accommodation: {{ review.accommodation_name }}<br>
                Rating: {{ review.rating }}<br>
                Comments: {{ review.comments }}
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('list_accommodations') }}">Back to Accommodation List</a>
</body>
</html>
